# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
# Stored a string in a veriable 'st1'
st1 = "python"
# To reverse the string--->
st1[::-1]

'nohtyp'

2. Check if a string is a palindrome.

In [2]:
# lets take string as a input
st2 = input("Enter a string: ").lower()
# Here the data type of the input string will in string so no need to change to string.
# Checking if the string is palindrome 
st2 == st2[::-1].lower()
# If the string is palindrome then the outpur will be "True" else "False"

Enter a string: I am a Data Scientist and I work with Data

False

3. Convert a string to uppercase.

In [3]:
# lets take string as a input
st3 = input("Enter a string: ")
# Converting the string to uppercase--->
st3.upper()

Enter a string: I am a Data Scientist and I work with Data

'I AM A DATA SCIENTIST AND I WORK WITH DATA'

4. Convert a string to lowercase.

In [4]:
# lets take string as a input
st4 = input("Enter a string: ")
# Converting the string to uppercase--->
st4.lower()

Enter a string: I am a Data Scientist and I work with Data

'i am a data scientist and i work with data'

5. Count the number of vowels in a string.

In [5]:
# Solving it by using loops--->
# Giving vowels a variable name as vowels and taking string as a input
vowels = "aeiou"
st5 = input("Enter a string: ").lower()
# Taking count "0"
count = 0

# Puting each elements of string in "for" loop and storing it ot "i"
for i in st5:
    # Puting each elements of vowels in "for" loop and storing it ot "j"
    for j in vowels:
        # Comparting every elements of vowels and string in a condition with "if"
        if j == i :
            count += 1

print(count)

Enter a string: I am a Data Scientist and I work with Data
14

6. Count the number of consonants in a string.

In [6]:
# Solving it using above conditions--

consonants = "bcdfghjklmnpqrstvwxyz"
st6 = input("Enter a string: ").lower()
count = 0

for i in st6: 
    for j in consonants:
        if j == i :
            count += 1

print(count)

Enter a string: I am a Data Scientist and I work with Data
19

7. Remove all whitespaces from a string.

In [7]:
# lets take string as a input
st7 = input("Enter a string: ")
# Here I used "replace()"
print(st7.replace(" ",""))

Enter a string: I am a Data Scientist and I work with Data
IamaDataScientistandIworkwithData

8. Find the length of a string without using the `len()` function.

In [8]:
# lets take string as a input
st8 = input("Enter a string: ")
count = 0

# Using "for" loop
for i in st8:
    count += 1
    
print(count)

Enter a string: I am a Data Scientist and I work with Data
42

9. Check if a string contains a specific word.

In [9]:
# Taking a string and specific word as a input
st9 = input("Enter the string : ").lower()
specific_word = input("Enter the specific word : ").lower()

# using if statement...
if specific_word in st9:
    print(f"The string contains the word : ",specific_word)
else:
    print(f"The string do not contains the word : ",specific_word)

Enter the string : I am a Data Scientist and I work with Data
Enter the specific word : Data
The string contains the word :  data

10. Replace a word in a string with another word.

In [10]:
# Taking a "string" and "word to replace" and "word" as a input
st10 = input("Enter the string : ")
word_to_replace = input("Word to replace : ")
word = input("Enter the word : ")

s = st10.replace(word_to_replace,word)
print(s)

Enter the string : I am a Data Scientist and I work with Data
Data
abc
I am a abc Scientist and I work with abc

11. Count the occurrences of a word in a string.

In [11]:
st = input("Enter a string : ")
word = input("Occurrence of the word :")

st.count(word)

I am a Data Scientist and I work with Data
Data

2

12. Find the first occurrence of a word in a string.

In [12]:
# Taking string and word as an input
st = input("Enter a string : ")
word = input("Enter the word : ")

# Here for the index of the word I used a variable "new"
new = st.find(word)

# Using if statement to find if the "word" is present in the "st".
# Here -1 is used because it indicates "not found" or "invalid index" and so it is "!= -1"
if word != -1:
    print(f"The first occurrence of '{word}' starts at index {new}.")
else:
    print(f"{word} is not found in the input string")

Enter a string : I am a Data Scientist and I work with Data
Enter the word : Data
The first occurrence of 'Data' starts at index 7.

13. Find the last occurrence of a word in a string.

In [13]:
# Taking string and word as an input
st = input("Enter a string : ")
word = input("Enter the word : ")

# From the above solution replaced "find()" module with "rfind()" 
new = st.rfind(word)

if word != -1:
    print(f"The last occurrence of '{word}' starts at index {new}.")
else:
    print(f"{word} is not found in the input string")

Enter a string : I am a Data Scientist and I work with Data
Enter the word : Data
The last occurrence of 'Data' starts at index 38.

14. Split a string into a list of words.

In [14]:
# Taking string as an input
st = input("Enter a string : ")
l = []

for i in st.split():
    l.append(i)
print(l)

# "l" as a empty string.
# for loop for taking each word in the "st" and appending the words in the empty string"l" 
# with the append() module and printing the list "l"

Enter a string : I am a Data Scientist and I work with Data
['I', 'am', 'a', 'Data', 'Scientist', 'and', 'I', 'work', 'with', 'Data']

15. Join a list of words into a string.

In [15]:
# Joining the words of list into a string using "for loop".
li = ['I', 'am', 'a', 'data', 'scientist', 'and', 'I', 'work', 'with', 'data']
st = ("") # Empty string where we will add all the elements of "li"

for i in li:
    st += i
print(st)
# But here there is no space in the output

IamadatascientistandIworkwithdata

In [16]:
# Joining the words of list into a string using "join()".
li = ['I', 'am', 'a', 'data', 'scientist', 'and', 'I', 'work', 'with', 'data']
lis = " "
lis.join(li)

'I am a data scientist and I work with data'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [17]:
# "st" is the string where words are sreperated by spaces(" ")
st = 'I am a data scientist and I work with data'

# Using "replace()" to replace " " with "_"
st.replace(" ","_")

'I_am_a_data_scientist_and_I_work_with_data'

17. Check if a string starts with a specific word or phrase.

In [18]:
# Taking specific word or phrase as a input in "spe"
spe = input("Enter a word or phrase: ")
st = input("Enter a sentence: ") # Sentence as a input in "st"

# Using "startswith()" method 
st.startswith(spe)

Enter a word or phrase: Data
Enter a sentence: I am a Data Scientist and I work with Data

False

18. Check if a string ends with a specific word or phrase.

In [19]:
# Taking specific word or phrase as a input in "spe"
spe = input("Enter a word or phrase: ")
st = input("Enter a sentence: ") # Sentence as a input in "st"

# Using "endswith()" method.
st.endswith(spe)

Enter a word or phrase: Data
Enter a sentence: I am a Data Scientist and I work with Data

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [20]:
# Using "title()" method
st = "hello world"
st.title()

'Hello World'

20. Find the longest word in a string.

In [21]:
# Taking the string as "st"
st = "I am a data scientist and I work with data"

# Split the string in words and giving it a variable name
word = st.split()
longest_word = max(word, key = len) # Find the word with maximum letters using "max()" method

print(longest_word)

scientist

21. Find the shortest word in a string.

In [22]:
# Taking the string as "st"
st = "I am a data scientist and I work with data"

# Split the string in words and giving it a variable name
word = st.split()
shortest_word = min(word, key = len) # Find the word with minimum letters using "max()" method

print(shortest_word)

I

22. Reverse the order of words in a string.

In [23]:
# Taking the string as "st"
st = "I am a data scientist and I work with data"

# Split the string in words and reversing it and giving it a variable name
word = st.split()[::-1] # it is a list
print(" ".join(word)) # joining the words in a list to a string

data with work I and scientist data a am I

23. Check if a string is alphanumeric.

In [24]:
# Taking the string as "st"
st = "123data" 

st.isalnum() # Checking if the string is alphanumeric

# Note--> here the output is False because the is a space in a string

True

24. Extract all digits from a string.

In [25]:
# Taking the string as "st"
st = "123data" 

# Using "for" loop for taking each element in string 
for i in st:
    # checking if the element is digit
    if i.isdigit():
        print(i)

1
2
3

25. Extract all alphabets from a string.

In [26]:
# Taking the string as "st"
st = "123data" 

# Using "for" loop for taking each element in string 
for i in st:
    # checking if the element is alphabet
    if i.isalpha():
        print(i)

d
a
t
a

26. Count the number of uppercase letters in a string.

In [27]:
# Taking the string as "st"
st = "I am a Data Scientist and I work with Data"
t = 0 # Taking it for the counting purpose

# Using "for" loop for taking each element in string 
for i in st:
    # Finding the uppercase letter
    if i.isupper():
        t += 1 # Each time loop runs 1 will be added to "t"
print(t)

5

27. Count the number of lowercase letters in a string.

In [28]:
# Taking the string as "st"
st = "I am a Data Scientist and I work with Data"
t = 0 # Taking it for the counting purpose

# Using "for" loop for taking each element in string 
for i in st:
    # Finding the lowercase letter
    if i.islower():
        t += 1 # Each time loop runs 1 will be added to "t"
print(t)

28

28. Swap the case of each character in a string.

In [29]:
# Taking the string as "st"
st = "I am a Data Scientist and I work with Data"
sw = [] # To make the list of elements
jo = "" # To join the elements of list

# Using "for" loop for taking each element in string 
for i in st:
    # Swaping uppercase latter to lowercase and append to the list
    if i.isupper():
        l = i.lower()
        sw.append(l)
    # Swaping lowercase latter to uppercase and append to the list
    elif i.islower():
        u = i.upper()
        sw.append(u)
    # For the spaces in the string
    else:
        sw.append(i)
        

# print(sw)
n = jo.join(sw)
print(n)

i AM A dATA sCIENTIST AND i WORK WITH dATA

29. Remove a specific word from a string.

In [30]:
# Taking specific word or phrase as a input in "spe"
spe_word = input("Enter a word : ")
st = input("Enter a sentence: ") # Sentence as a input in "st"

# Split the string to get the words
# for loop for each words
for i in st.split():
    if spe_word == i:
        s = st.replace(spe_word,"")
print(s)

Enter a word or phrase: Data
Enter a sentence: I am a Data Scientist and I work with Data
I am a  Scientist and I work with

30. Check if a string is a valid email address.

In [1]:
# Unable to solve...

31. Extract the username from an email address string.

In [9]:
# The part before "@" is a username
# We have to split() the email and then take the part before "@"
# -------------------------------------------------------

# Taking email as an input
email = input("Enter a Email : ")

e = email.split("@") 
print("The username is : {}".format(e[0]))

Enter a Email : example@email.com
The username is : example

32. Extract the domain name from an email address string.

In [10]:
# We have to split() the email and then take the part after "@"
# -------------------------------------------------------

# Taking email as an input
email = input("Enter a Email : ")

e = email.split("@") 
print("The username is : {}".format(e[1]))

Enter a Email : example@email.com
The username is : email.com

33. Replace multiple spaces in a string with a single space.

In [15]:
# Taking the string as "st"
st = "This is   a   string    with    multiple  spaces"

# First split the string
words = st.split()
# Join the all the words
Joined_words = " ".join(words)
print(Joined_words)

This is a string with multiple spaces

34. Check if a string is a valid URL.

In [16]:
# Unable to solve...

35. Extract the protocol (http or https) from a URL string.

In [9]:
# URL as string in url
url = input("Enter the URL: ")
# Spliting the string(url)
protocol = url.split("://")[0]

print("The protocol is",protocol)

Enter the URL: https://www.google.com/
The protocol is https

36. Find the frequency of each character in a string

In [17]:
# String as st
st = 44. Find the most frequent word in a string.


# "fr" as empty dictionary to store frequency
fr = {}

# iterate through the string
for i in st:
    # Check if the character is letter or space
    if i.isalpha() or not i.isspace():
        # if the charater is in uppercase convert it to lowercase 
        i = i.lower()
        if i in fr:
            fr[i] += 1
        else:
            fr[i] = 1

# Check the character frequency
for i, count in fr.items():
    print(f"{i} : {count}")

i : 5
a : 7
m : 1
d : 3
t : 5
s : 2
c : 1
e : 1
n : 2
w : 2
o : 1
r : 1
k : 1
h : 1

37. Remove all punctuation from a string.

In [25]:
# Sample string with punctuation
st = input("Enter the string: ")

# Define a translation table to remove punctuation
translator = str.maketrans('', '', string.punctuation)

# Use translate to remove punctuation
cle = st.translate(translator)

# Print the cleaned string
print(cle)

Enter the string: "This is a sample sentence with commas, periods, and exclamation marks!"
This is a sample sentence with commas periods and exclamation marks

38. Check if a string contains only digits.

In [37]:
# Taking string as input
st = input("Enter the string: ")


# checking if the string contain digit.
if st.isdigit():
    print("The string contain only digit")
else:
    print("The string do not contain digit")

Enter the string: 65668631321
The string contain only digit

39. Check if a string contains only alphabets.

In [39]:
# Taking string as input
st = input("Enter the string: ")


# checking if the string contain digit.
if st.isalpha():
    print("The string contain only alphabet")
else:
    print("The string do not contain alphabet")

Enter the string: 313sdfsd
The string do not contain alphabet

40. Convert a string to a list of characters.

In [41]:
# Input string
st = "I am a Data Scientist and I work with Data"

# Convert the string to the list of characters
li = list(st)

# Print the list
print(li)

['I', ' ', 'a', 'm', ' ', 'a', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 't', 'i', 's', 't', ' ', 'a', 'n', 'd', ' ', 'I', ' ', 'w', 'o', 'r', 'k', ' ', 'w', 'i', 't', 'h', ' ', 'D', 'a', 't', 'a']

41. Check if two strings are anagrams.

In [3]:
def anagram(st1,st2):
    
    # Removing the spaces and converting the character in lowercase
    st1 = st1.replace(" ","").lower()
    st2 = st2.replace(" ","").lower()
    
    # Checking if the sorted characters in the strings are same
    return sorted(st1) == sorted(st2)


st1 = 'silent'
st2 = 'listen'
result = anagram(st1,st2)

print(f"{st1} and {st2} are anagram: {result}")

silent and listen are anagram: True

42. Encode a string using a Caesar Cipher.

In [1]:
# Not able to solve

43. Decode a Caesar cipher encoded string.

In [2]:
# Not able to solve

44. Find the most frequent word in a string.

In [7]:
st =  "This is   a   string    with    multiple  spaces"

words = st.split()
word_frequency = {}

for i in st:
    cl = i.strip(".,?!").lower()
    word_frequency[cl] = word_frequency.get(cl, 0) + 1
    
    most_frequent = max(word_frequency, key = word_frequency.get)
#     return most_frequent

result = most_frequent(st)
print(f'the most frequent word is {result}')

TypeError: 'str' object is not callable

45. Find all unique words in a string.

In [5]:
st =  "I am a Data Scientist and I work with Data"
words = st.split()
unique_word = set()

for i in words:
    unique_word.add(i)
unique_word_list = list(unique_word)
# return unique_word_list

print(unique_word_list)

['a', 'Scientist', 'with', 'I', 'am', 'work', 'Data', 'and']

46. Count the number of syllables in a string.

In [ ]:
# Not able to slove

47. Check if a string contains any special characters.

In [56]:
def special_characters(input_string):
    letters = set("ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789")
    for i in input_string:
        if i not in letters:
            return True

    return False
st = "This is a string with a $pecial character"
check = special_characters(st)

print("String contains special characters -",check)

String contains special characters - True

48. Remove the nth word from a string.

In [60]:
def remove_word(ss):
    words = st.split()
    for char in words:
        
    
    
st = "I am a Data Scientist and I work with Data"    
remove_word(st)

I
am
a
Data
Scientist
and
I
work
with
Data

49. Insert a word at the nth position in a string.

In [6]:
def insert_word(original_string, word_to_insert, n):
    
    # split the original string in the list of words
    words = st.split()
    
    # Inserting the word in nth position
    words.insert(n, word_to_insert)
    
    # Join the words in the new string
    new_string = " ".join(words)
    
    return new_string

st = "I am a Data Scientist and work with Data"
word = "I"
n = 6

result = insert_word(st, word, n)
print(result)

I am a Data Scientist and I work with Data

50. Convert a CSV string to a list of lists.

In [2]:
csv_string = "John, 30, New York\nAlice, 25, Los Angeles\nBob, 35, Chicago"

# Split the CSV in lines 
lines = csv_string.split("\n")

# Empty string to store the result
csv_list = []

for line in lines:
    if line:
        row = line.split(",")
        csv_list.append(row)
        
print(csv_list)

[['John', ' 30', ' New York'], ['Alice', ' 25', ' Los Angeles'], ['Bob', ' 35', ' Chicago']]

# List Based Practice Problem

1. Create a list with integers from 1 to 10.

In [6]:
li = []
for i in range(1,11):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [9]:
# Taking a sample string
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "abc", True]

# Taking a variable for counting purpose
l = 0

for i in li:
    l += 1
    
print(l)

12

3. Append an element to the end of a list.

In [10]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
li.append("string")
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'string']

4. Insert an element at a specific index in a list.

In [12]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
li.insert(3,"hi")
print(li)

[1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [13]:
li = [1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10]
li.remove("hi")
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [16]:
li = [1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10]
del li[3]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [17]:
li = [1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10]
i = input("Element to check: ")
if i in li:
    print("Exists")
else:
    print("Do not exists")

Element to check: hi
Exists

8. Find the index of the first occurrence of an element in a list.

In [21]:
li = [1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10]
index = li.index("hi")
print(index)

3

9. Count the occurrences of an element in a list.

In [23]:
li = [1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10, 'hi', 12, 'hi', 11, 'hi'] # Sample string

li.count('hi')

4

10. Reverse the order of elements in a list.

In [24]:
li = ['red', 'blue', 'green', 'black', 'white', 'yellow']
li.reverse()
print(li)

['yellow', 'white', 'black', 'green', 'blue', 'red']

11. Sort a list in ascending order.

In [26]:
li = [11, 2, 23, 41, 15, 6, 37, 18, 22, 10]
li.sort()
print(li)

[2, 6, 10, 11, 15, 18, 22, 23, 37, 41]

12. Sort a list in descending order.

In [31]:
li = [11, 2, 23, 41, 15, 6, 37, 18, 22, 10]
li.sort(reverse = True)
print(li)

[41, 37, 23, 22, 18, 15, 11, 10, 6, 2]

13. Create a list of even numbers from 1 to 20.

In [32]:
li = []
for i in range(1,21):
    if i%2 == 0:
        li.append(i)
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [34]:
li = []
for i in range(1,21):
    if i%2 != 0:
        li.append(i)
print(li)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [37]:
li = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19] # Sample list

total = 0 # For counting

# Iterate through the element of list
# Adding the each of the Element
for i in range(0,len(li)):
    total = total + li[i]
    
print(total)

100

16. Find the maximum value in a list.

In [38]:
li = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
max(li)

19

17. Find the minimum value in a list.

In [39]:
li = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
min(li)

1

18. Create a list of squares of numbers from 1 to 10.

In [42]:
# Empty list to store the squares of the numbers
li = []

# Iterate through the number 1-10
for i in range(1,11):
    sq = i**2 # Squaring the number 
    li.append(sq) # Appending the number to the list
    
print(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [47]:
import random # Importing the random for taking random values
li = [] # Empty list for the list of numbers
num_random_values = 10 # Number of random numbers

# Iterate to number of values
for i in range(num_random_values):
    # Random numbers from 1-11 but incliding 1 but excluding 11
    random_number = random.uniform(1,11)
    
    li.append(random_number) # Appeding the values to the list
    
print(li)

[2.3898603873815665, 1.6101000103621912, 8.2176468576267, 1.5062854804727612, 7.426060925373799, 3.2182586558029707, 5.11724030384006, 3.437494172130774, 1.6021004797305518, 3.4112079338011396]

20. Remove duplicates from a list.

In [4]:
li = [1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10, 'hi', 12, 'hi', 11, 'hi'] # Sample string
# Empty list to append the unique elements
result = []

# Iterate through the list
for i in li:
    # Adding the unique value in the empty list
    if i not in result:
        result.append(i)
        
print(result)

[1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10, 12, 11]

21. Find the common elements between two lists.

In [5]:
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]

if (set(l1) & set(l2)):
    print(set(l1) & set(l2))
else:
    print("No common elements")

{4, 5}

22. Find the difference between two lists.

In [14]:
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]
difference = []


for items in l1:
    if items not in l2:
        difference.append(items)
        
print(difference)

[1, 2, 3]

23. Merge two lists.

In [11]:
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]

l1.extend(l2)

print(l1)

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [12]:
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]

l3 = l1 + l2
print(str(l3))

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

24. Multiply all elements in a list by 2.

In [3]:
li = [1, 2, 3, 4, 5, 4, 5, 6, 7, 8] # Sample list
Result = [] # For storing result

# Iterate through the list
for i in li:
    Result.append(i*2)
    
print(Result)

[2, 4, 6, 8, 10, 8, 10, 12, 14, 16]

25. Filter out all even numbers from a list.

In [5]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = []
for i in li:
    if i%2==0:
        even.append(i)
print(even)

[2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers.

In [12]:
li = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
integer = []
for i in li:
    convert = int(i)
    integer.append(convert)
    print(type(convert))
print(integer)

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

27. Convert a list of integers to a list of strings.

In [13]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
string = []
for i in li:
    convert = str(i)
    string.append(convert)
    print(type(convert))
print(string)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

28. Flatten a nested list.

29. Create a list of the first 10 Fibonacci numbers.

In [1]:
n = 10
a = 0
b = 1

while n>=0:
    c = a + b
    a = b
    b = c
    n = n-1
    
    print(c)

1
2
3
5
8
13
21
34
55
89
144

30. Check if a list is sorted.

In [5]:
l = [1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

sorted_check = True

for i in range(len(l)-1):
    if l[i] > l[i+1]:
        sorted_check = False

    
if sorted_check:
    print("The list is sorted")
else:
    print("The list is not sorted")

The list is sorted

31. Rotate a list to the left by 'n' positions.

In [9]:
def rotate_left(original_string, n):
    return original_string[n:] + original_string[:n]

original_string = [1, 2, 3, 4, 5]
n = int(input("Enter the position: "))
rotate_left(original_string,n)

Enter the position: 2

[3, 4, 5, 1, 2]

In [ ]:
32. Rotate a list to the right by `n` positions.

In [8]:
def rotate_right(original_string, n):
    return original_string[-n:] + original_string[:-n]
#     print(original_string[-n:])

original_string = [1, 2, 3, 4, 5]
n = int(input("Enter the position: "))
rotate_right(original_string,n)

Enter the position: 2

[4, 5, 1, 2, 3]